extends ./common/layout2
block main 
  .main

    .title
      h4 5b9a716cb2d2bf17706bcc0a

    form.form-container(class="form-container" action="/admin/article-add" method="post" enctype="multipart/form-data" id="articleform")
      .form-group
        label 标题
        input.form-control(type="text" placeholder="请输入文章标题" name="title")
      .form-group
        label 作者
        input.form-control(type="text", readonly name="author" value=userinfo._id )
      .form-group
        label 发布时间
        input.form-control(type="date" name="publishdate")
      .form-group
        label(for="exampleInputFile") 文章封面
        input(type="file" name="cover" id="file" )
        .thumbnail-waper
          img.img-thumbnail(src="" id="preview")
      .form-group
        label 内容
        textarea(class="form-control" id="editor" name="content" )
      .buttons
        input.btn.btn-primary(type="submit")


block script 
  script(src="/admin/lib/ckeditor5/ckeditor.js")
  script(type="text/javascript").
    let editor;

    ClassicEditor
      .create( document.querySelector('#editor'))
      .then(newEditor => {
        editor = newEditor;
      })
      .catch( error => {
        console.error( error );
      });
           var file=document.querySelector("#file")
           var preview=document.querySelector("#preview")

           file.onchange=function () {
             var reader=new FileReader();
             console.log(this.files[0]);
             reader.readAsDataURL(this.files[0]);
             reader.onload=function () {
               preview.src=reader.result
                 }
             }

                //前端表单验证
               $('#articleform').on("submit", function () {
                 var data =serializetoJson($(this));
                   if (data.title.trim().length==0){
                     alert("请输入文章标题！")
                     return false
            }
                   function IsNull(str) {
               return (Trim(str) == "") ? false : true;
           }

           function Trim(str) {
             return str.replace(/(^\s*)|(\s*$)/g, "");
           }

           function replaceHTML(str) {
             str = str.replace(/<[^>].*?>/g, "");
             str = str.replace(/&nbsp;/g, "");
             return str;
           }

           var content = document.getElementById("editor").value;
           if (!IsNull(replaceHTML(content))) {
              alert("请填写文章内容")
             return false;
           } 

             })
  //-获取数据
  //- const editorData = editor.getData();