extends ./common/layout2
block main 
    
      .main
        // 分类标题
        .title
          h4 #{user&&user.id}
          p.tips #{msg&&msg}
        //分类标题
        form.form-container(action=link method="post")
          .form-group
            label 用户名
            input.form-control(type="text", placeholder="请输入用户名" name="name" value=user&&user.name)
          .form-group
            label 邮箱
            input.form-control(type="email", placeholder="请输入邮箱地址" name="email" value=user&&user.email)
          .form-group
            label 密码
            input.form-control(type="password", placeholder="请输入密码" name="password")
          .form-group
            label 角色
              
                
            select.form-control(name="role")
              option(value="normal",selected=user&&user.role=="normal") 普通用户
              option(value="admin",selected=user&&user.role=="admin") 超级管理员
          .form-group

            label 状态
            select.form-control(name="state")
              option(value="0",selected=user&&user.state==0) 启用
              option(value="1",selected=user&&user.state==1) 禁用
       
      
          .buttons
            input.btn.btn-primary(type="submit",value=submit) 
    //主体内容
